@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.table td {
    max-width: 350px;
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: #000;
}